
FlappyBird/.vs/FlappyBird/v16/.suo
FlappyBird/.vs/FlappyBird/v16/Server/sqlite3/db.lock
FlappyBird/.vs/FlappyBird/v16/Server/sqlite3/storage.ide
FlappyBird/.vs/FlappyBird/v16/Server/sqlite3/storage.ide-shm
FlappyBird/.vs/FlappyBird/v16/Server/sqlite3/storage.ide-wal
